.black-nav {
  background: black;
  width:100%;
  display: flex;
  color: aliceblue;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  height : 20px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  background-color: #343a40;
  height: 3.5rem;
  font-size: 20px;
  
}

.menu-item {
  display: inline-block;
  color: bisque;
  line-height: 3.5rem;
  width: 25%;
  text-align: center;
  cursor: pointer;  
  text-decoration: none;
}

.apps {
  
  
}